<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
<center><footer>
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="images/5c3ee79c-99c9-406f-864c-8de1d64d4c77.jpg" class="card-img" alt="holaa">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">HECHO POR:</h5>
        <p class="card-text">{{autor}}</p>
        <a href="https://www.instagram.com/ame_chavarria_13/?hl=es-la">SIGUEME EN INSTAGRAM:)</a><br>
        <a>{{year}}</a>
      </div>
    </div>
  </div>
</div>
</footer></center>
</html>

