*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.contenedor{
    padding: 40px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
h1{
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
}
p{
    background-color: darkgrey;
    font-size: 20px;
}
a{
    margin-right: 10px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;
    
  }
a:hover{
    text-decoration: underline;
}
.estilo{
    background-color: darksalmon;
}
