{{>header}}
{{>navbar}}
    <h1>DIEGO RIVERA</h1>
    <div class="contenedor">
        <p>Diego Rivera fue uno de los grandes muralistas latinoamericanos del Siglo XX.
            La cultura mexicana siempre estuvo presente en su obra, incluso cuando se «contamina» de Europa en sus viajes al París de las vanguardias.
            Su obra influyó a cientos de artistas y su vida sigue fascinando hoy por su irreverencia en lo político, su legendario hedonismo y un inexplicable atractivo para las mujeres.
            Quizás, la mujer de su vida fue Frida Khalo, con la que se casó (2 veces).
            
            Su verdadero nombre era Diego María de la Concepción Juan Nepomuceno Estanislao de la Rivera y Barrientos Acosta y Rodríguez.
            Muy joven viaja a París, entrando en contacto con la vanguardia y artistas como Pablo Picasso o Paul Cézanne, que lo introducen en el cubismo.</p>
            <p>Su obra, de enorme eclecticismo, chupó de todo el arte occidental y también del precolombino (el gusto por la pintura mural, sin ir más lejos). Destaca por su monumentalidad, para poder comunicarse mejor con las masas populares. Es evidente su ideología revolucionaria, y su obra es pura propaganda, sin connotaciones peyorativas.</p>
    </div>
    <table width="100%" border="0" cellpadding="1">
        <tr>
            <td>
                <a><img src="images/ninaalcatraces.jpg" alt="NIÑA CON ALCATRACES" width="210px" height="220px"/><br>NIÑA CON ALCATRACES</a>
            </td>
            <td>
                <a><img src="images/flores.jpg" alt="VENDEDORA DE FLORES" width="210px" height="220px"/><br>VENDEDORA DE FLORES</a>
            </td>
            <td>
                <a><img src="images/alameda.jpg" alt="ALAMEDA PARK" width="210px" height="220px"/><br>ALAMEDA PARK</a>
            </td>
            <td>
                <a><img src="images/frida.jpg" alt="FRIDA KHALO" width="210px" height="220px"/><br>FRIDA KHALO</a>
            </td>
            <td>
                <a><img src="images/trabajador.jpg" alt="TRABAJADOR DE PIEDRAS" width="210px" height="220px"/><br>TRABAJADOR DE PIEDRAS</a>
            </td>
        </tr>
    <table>
<br><hr>
{{>footer}}

