{{>header}}
{{>navbar}}
    <h1>EDVARD MUNCH</h1>
    <div class="contenedor">
    <p>Pintor excéntrico e innovador de origen noruego. Durante su carrera persiguió plasmar las caras de la psicología humana, representando "el alma" en sus propias palabras.

        A los 18 años abandonó la carrera de ingeniería donde en el primer año, había aprendido los conceptos básicos del dibujo técnico. Entonces su gran ilusión era convertirse en pintor a tiempo completo, hecho que detonó toda clase de cuestionamientos en su entorno familiar y social
        
        Se considera como uno de los grandes del expresionismo y precursor del modernismo. A pesar de que sus trabajos no demuestran una pericia técnica despampanante, se desenvuelve como pez en el agua con el simbolismo y lo conceptual.</p>
        <p>Las pinturas y grabados de Edvard Munch recorren una línea temática muy marcada, con frecuencia relacionadas con la depresión y una mirada extremadamente negativa de la existencia. Con todo ello es considerado un genio, por su propuesta estética y su personalidad.</p>
    </div>
        <table width="100%" border="0" cellpadding="1">
    <tr>
        <td>
            <a><img src="images/elgrito.png" width="210px" height="220px"/><br> EL GRITO</a>
        </td>
        <td>
            <a><img src="images/edvard2.jpg" width="210px" height="220px"/><br>ANSIEDAD</a>
        </td>
        <td>
            <a><img src="images/elbeso.jpg" alt="EL BESO" width="210px" height="220px"/><br>EL BESO</a>
        </td>
        <td>
            <a><img src="images/femenina.jpg" alt="INFLUENCIA FEMENINA" width="210px" height="220px"/><br>INFLUENCIA FEMENINA</a>
        </td>
        <td>
            <a><img src="images/lovers.jpg" alt="AMANTES" width="210px" height="220px"/><br>AMANTES</a>
        </td>
    </tr>
<table>
    <br><hr>
{{>footer}}

