{{>header}}
{{>navbar}}
    <h1>MIS PINTORES FAVORITOS</h1>
<div class="contenedor"><div class="estilo">
    <h2>1. EDVARD MUNCH </h2><br>
    <h2>2. VICENT VAN GOHG</h2><br>
    <h2>3. LEONARDO DA VINCI</h2><br>
    <h2>4. DIEGO RIVERA</h2><br>
    <h2>5. PABLO PICASSO</h2><br>
    </div></div>
    <br><br><hr>
{{>footer}}