{{>header}}
{{>navbar}}
    <h1>PABLO PICASSO</h1>
    <div class="contenedor">
        <p>Pablo Picasso es, sin lugar a dudas, uno de los artistas plásticos más famosos del mundo. Su obra trasciende todo tipo de fronteras y de clasificaciones; tan vasta y diversificada como única, supuso un antes y un después en la producción artística a nivel mundial. Polémico, controvertido, con un talento sin límites y una insaciable necesidad de crear, su frase más conocida refleja fielmente su personalidad: <u>“cuando llegue la inspiración, que me encuentre trabajando”.</u> El arte de Picasso es multiforme y cambiante; el artista se nutrió del pasado y del presente para crear sus obras, anticipando lo que vendría años e incluso décadas después. Porque el arte contemporáneo jamás sería lo que hoy es sin la influencia de Pablo Picasso: un artista que pasó por su época como un tren sin frenos, arrollando las fronteras del arte del siglo XX y abriendo nuevos e insospechados caminos creativos.</p>
    </div>
    <table width="100%" border="0" cellpadding="1">
        <tr>
            <td>
                <a><img src="images/mujerquellora.jpg" alt="MUJER QUE LLORA" width="210px" height="220px"/><br>MUJER QUE LLORA</a>
            </td>
            <td>
                <a><img src="images/doramaar.jpg" alt="DORA MAAR" width="210px" height="220px"/><br>DORA MAAR</a>
            </td>
            <td>
                <a><img src="images/cabezademujer.jpg" alt="CABEZA DE MUJER" width="210px" height="220px"/><br>CABAZA DE MUJER QUE LEE</a>
            </td>
            <td>
                <a><img src="images/diva.jpg" alt="DIVA IN A RED CHAIR" width="210px" height="220px"/><br>DIVA IN A RED CHAIR</a>
            </td>
            <td>
                <a><img src="images/jacqueline.jpg" alt="JACQUELINE CON FLORES" width="210px" height="220px"/><br>JACQUELINE CON FLORES</a>
            </td>
        </tr>
    <table>
        <br><hr>
{{>footer}}

