{{>header}}
{{>navbar}}
<h1>VICENT VAN GOGH</h1>
    <div class="contenedor">
        <p>Vincent van Gogh, por quien el color era el símbolo principal de expresión, nació el 30 de marzo de 1853 en Groot-Zundert de Holanda. El hijo de un pastor, criado en una atmósfera religiosa y refinada, Vincent era muy emocional y no tenía confianza en sí mismo. Entre 1860 y 1880, cuando decidió finalmente ser artista, Van Gogh había tenido dos amores inadecuados y infelices y había trabajado sin éxito como empleado en una librería, vendedor de arte, y predicador en Le Borinage (una región aburrida de minera en Bélgica), donde fue despedido por “exceso de celo.”</p>
        <p>Se quedó en Bélgica a estudiar el arte, dedicado para dar felicidad creando belleza. Las obras de este período temprano en Holanda son pinturas de género muy iluminadas y de tonos sombríos de las que la más famosa es Los comedores de papas (1885). En ese año Van Gogh fue a Antwerp donde descubrió las obras de Rubens y compró muchos grabados japoneses, los amaba.</p>
    </div>
    <table width="100%" border="0" cellpadding="1">
        <tr>
            <td>
                <a><img src="images/girasoles.jpg" alt="LOS GIRASOLES" width="210px" height="220px"/><br>LOS GIRASOLES</a>
            </td>
            <td>
                <a><img src="images/auto2.jpg" alt="VAN GOGH" width="210px" height="220px"/><br>VAN GOGH</a>
            </td>
            <td>
                <a><img src="images/nochestrellada.jpg" alt="LA NOCHE ESTRELLADA" width="210px" height="220px"/><br>LA NOCHE ESTRELLADA</a>
            </td>
            <td>
                <a><img src="images/terraza.jpg" alt="TERRAZA" width="210px" height="220px"/><br>TERRAZA DE CAFÉ DE NOCHE</a>
            </td>
            <td>
                <a><img src="images/lesolei.jpg" alt="LE SOLEI" width="210px" height="220px"/><br>LE SOLEI</a>
            </td>
        </tr>
    <table>
        <br><hr>
{{>footer}}

